@import "reset.css";
@import "vars.css";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

h1 {
  color: var(--main-color);
}

/* Article =============== */

.article {
  border: 1px solid var(--main-color);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 2rem;
  padding: 3rem 0.8rem;
  border-radius: 8px;
}

.article.article--dark {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}

.article__title {
  font-size: 3rem;
}

.article__text {
  padding-bottom: 1rem;
}

.article__btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  background-color: var(--main-color);
  transition: 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.article__btn:hover {
  background-color: rgb(19, 72, 107);
  color: whitesmoke;
}
