/* Variables =============== */

:root {
  --main-color: #4aa1be;
  --main-text-color: #333;
}

/* Article =========== */

.article {
  border: 1px solid var(--main-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 3rem 0.8rem;
  border-radius: 8px;
}

.article__title {
  font-size: 3rem;
}

.article__text {
  padding-bottom: 1rem;
}

.article__btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  font-size: larger;
  font-weight: bolder;
  background-color: var(--main-color);
  transition: 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.article__btn:hover {
  background-color: rgb(19, 72, 107);
  color: whitesmoke;
}
